// Define variables for your color scheme
// color palet link: https://icolorpalette.com/download/palette/545793_color_palette.jpg
// For example:

$new-green: #7BB602;
$new-black: #0E0E0E;
$new-light-gray: #D7E4EC;
$light-black: #000227;
$sexy-pink:  #f478cf;
$sexy-yellow: #eaff00;
$light-black: #313131;


$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
