// Define variables for your color scheme

// For example:

$new-green: #7BB602;
$new-turquese: #01E7C0;
$new-black: #0E0E0E;
$new-light-gray: #D7E4EC;
$new-petrol: #65799a;
$light-black: #000227;
$sexy-pink:  #f478cf;



$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
