.terms-and-conditions {
padding: 20px;
  h1 {
    color:  #f478cf;
    font-weight: 800;
  }
  h2 {
    color: $new-green;
    font-weight: 300;
  }
  p {
    color: $new-light-gray;
  }

  li {
    color: $new-light-gray;
  }
}
