<% flash.each do |type, message| %>
<div class="d-flex justify-content-center align-items-center">
  <div class="alert alert-<%= type == 'notice' ? 'success' : 'danger'%> d-flex justify-content-center align-items-center" style="margin-top: 60px; z-index: 1000; position: relative;">
    <%= message %>
  </div>
</div>
<% end %>
