<ul class="navbar-links fs-1 p-2 m-0 d-flex gap-5 list-unstyled align-items-center">

  <%# Home %>
  <li>
    <%= link_to root_path, class: 'icon' do %><i class="fa-solid fa-house"></i><% end %>
  </li>


    <%# Venue %>

    <li>
    <%= link_to venues_path, class: 'icon' do %><i class="fa-regular fa-compass"></i><% end %>
  </li>

  <%# Events %>
  <li>
    <%= link_to events_path, class: 'icon' do %><i class="fa-solid fa-calendar-days"></i><% end %>
  </li>







  <%# Bookings %>
  <li class="align-items-center">
    <%= link_to bookings_path, class: 'icon' do %><i class="fa-solid fa-ticket"></i><% end %>
  </li>
</ul>
