<div class="container" style="margin-top: 20px;">
  <div class="row ">
    <div class="col-sm-12">
      <h1 style="text-align: center;"><strong>Events</strong></h1>
    </div>
    <% if @events.empty? %>
      <h1>Ups, there are no events like that!</h1>
    <% else %>
      <% @events.each do |event| %>
        <%= render 'event_horizontal_card', event: event %>
      <% end %>
    <% end %>
  </div>
</div>
