<div class="container" style="margin-top: 20px;">
  <div class="row ">
    <div class="col-sm-12">
      <h1 style="text-align: center;">Events</h1>
    </div>
    <% @events.each do |event| %>
      <%= render 'card', event: event %>
    <% end %>
  </div>
</div>
