<div class="container">
<div class= "terms-and-conditions">
<h1> StandBy Tickets</h1>
<h2> Description </h2>
<p>Standby tickets for events offer attendees the opportunity to access sold-out or fully-booked events by waiting at the venue for any available seats or openings.</p>
<h2>Terms and contitions</h2>
<ul>
<li><strong> Availability: </strong>Standby tickets are subject to availability and are not guaranteed entry to the event. Access depends on available space after all confirmed ticket holders have entered.</li>
<li><strong> Priority: </strong>Priority may be given to standby ticket holders based on arrival time, venue capacity, or any other criteria determined by the event organizers.</li>
<li><strong> Check-In: </strong>Standby ticket holders must check in at the venue within the designated timeframe specified by the organizers. Failure to check in on time may result in forfeiture of the standby ticket.</li>
</ul>
</div>

<div class="d-flex justify-content-center align-items-center">
<%= link_to "Got it!", events_path, class: "btn btn-info shadow smaller-button rounded-pill" %>

</div>
</div>
