// .category-buttons {
//   display: flex;
//   flex-wrap:nowrap;
//   overflow-x: auto;
//   align-items: end;
//   padding-bottom: 30px;
// }


// .category-buttons .category-filter {
//   margin-right: 20px;
//   display: inline-block;

// }

.category-buttons {
  display: flex;
  /* flex-wrap: nowrap; */ /* Remove this line */
  overflow-x: auto;
  align-items: end;
  padding-bottom: 30px;
  }

.category-buttons .category-filter {
  margin-right: 10px;
  margin-left: 10px;
  min-width: 120px;
  color: #7BB602;
  text-align: center;
  padding: 12px 6px;
  border-radius: 30px;
  border-color: #7BB602;
  transition: background-color .3s, color .3s, border-color .3s;
  background-color: rgb(41, 40, 40);
}
.category-buttons .category-filter:hover {
  color: #f478cf;
  border-color: #f478cf;
  transition: 0.3s;
}
