/*stlying _events_horizontal_card.html.erb*/

.card-body  {
  // width: 100vw;
}


.card-horizontal {
  display: flex;
  background-color: #65799a;
}

.img-fluid {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 #65799a;
    h5 {
      font-family: Arial, sans-serif;
      font-weight: bold;
    }
    p {
      font-family: Arial, sans-serif;
    }
}

/*font style */


.italic-text {
  font-style: italic;
}

/*styling buttons*/

.smaller-button {
  padding: 4px 12px !important;
}
