.events{
  display: flex;
  flex-wrap:nowrap;
  overflow-x: auto;
}

.event-card {
  display: flex;
  box-shadow: 0 0 5px #65799a;
  height: 200px;
  align-items: end;
  background-size: cover;
  background-position: center;
  margin-right: 16px;

}


.event-card-info{
  max-height: 100px;
  width: 80vw;
  color: white;
  padding: 10px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.event-card-info button {
  height: 50px;
  font-stretch: condensed;
  background-color: #01E7C0;
}

.card-click {
  text-decoration: none;
}
