/*stlying _events_horizontal_card.html.erb*/

.card-body  {
  // width: 100vw;
  color: #D7E4EC;
}


.card-horizontal {
  display: flex;
  background-color: #303132;
}

.img-fluid {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 $new-green;
    h5 {
      font-family: Arial, sans-serif;
      font-weight: bold;
      color: #D7E4EC;
    }
    p {
      font-family: Arial, sans-serif;
      color:#D7E4EC;
    }
}

/*font style */


.italic-text {
  font-style: italic;
}

/*styling buttons*/

.smaller-button {
  padding: 4px 12px !important;
}

.change {
  color: $sexy-pink;
  font-size: small;
}
