.events-page-title {
color: red;
}

.page-color {
  background-color: #313131;
}

.img.img.logo-image {
  color: $sexy-pink;
}

.events-page-title {
  text-align:  center;
  font-size: 20px;
  color: $sexy-pink;
}

.nav-btn {
  color: $new-green;
}

.venue-txt {
  color: $new-light-gray;
}

.event-txt {
  color: $new-light-gray;
}
