.navbar-lewagon {
  justify-content: space-between;
  background: $light-black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
 }

 .navbar-container {
    width: 100vw;
    background-color: $light-black;


}

.content-container {
  width: 100vw;
}

.icon {
  color: $sexy-pink;
}

.icon:hover {
  color:$new-green;
}
