/*stlying _card.html.erb*/

.card-horizontal {
  display: flex;
}

.card-img-horizontal {
  object-fit: cover;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
/*font style */
h5 {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

p {
  font-family: Arial, sans-serif;
}

.italic-text {
  font-style: italic;
}
